<?xml version="1.0" encoding="UTF-B" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee">

    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.twinray.HelloServlet</servlet-class>
        <init-param>
            <param-name>ProductName</param-name>
            <param-value>Another Product Name</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/other</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.twinray.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <error-page>
        <location>/WEB-INF/errorpage.jsp</location>
    </error-page>

    <filter>
        <filter-name></filter-name>
        <filter-class></filter-class>
        <init-param></init-param>
    </filter>

    <filter-mapping>

    </filter-mapping>

</web-app>